/* ************media query ******************* */
@media screen and (max-height: 190px) {
    .header{
        display: none;
    }
    
}


@media screen and (max-width:1200px) {
    .card {
        width: calc(100% / 4 - 20px);
    }

}

@media screen and (max-width:992px) {
    .card {
        width: calc(100% / 3 - 20px);
    }

   
}



@media screen and (max-width:768px) {
    .card {
        width: calc(100% / 2 - 20px);
    }

    .right-toolbar div {
        flex-wrap: wrap;
    }

  

}

@media screen and (max-width:576px) {

    .card {
        width: calc(100% / 1 - 20px);
    }

    #big {
        display: none;
    }

    #small {
        display: block;
    }

    .text-nav {
        display: none;
    }

    .playlist ul {
        display: none;
    }

    .playlist h4 {
        display: none;
    }

    #sidebar {
        width: 50px;
    }

    #install {
        display: none;
    }

    .user h3 {
        display: none;
    }

    .side-start div,
    #logo img{
        width: 100%;
    }
    .logo-nav{
        width: 100%;
    }
    

    main {
        width: calc(100% - 50px);
    }

    .header {
        width: calc(100% - 50px);
        position: fixed;
        top: 0;
        left: 50px;
        z-index: 3009;
    }

    hr{
        display: none;
    }
    .left-toolbar{
        position: relative;
    }
    .left-toolbar div.left-img{
        display: none;
    }
    .left-toolbar div.disp{
        position: absolute;
        display: none;
    }


    .left-toolbar div:nth-child(2){
        margin: 0px 10px;
    }



.right-toolbar div input{
    display: none;

}
 
.right-toolbar div{
    flex-direction: column;
  
   
}

.right-toolbar div.d-flex div {
    margin: 2px 4px;

}

.side-end .logo-nav{
    
}

.side-end div.logo-nav:first-child{
    display: none;
}




}
