/* *****************General*********** */

:root {
    --color-greenbar hover: #adff2f;
    --color-logo: #ffffff;
    --color-text nav: #a3a3a3;
    --color-main: #141922;
    --color-header: #080b12;
    --color-toolbar: #282828;
    --color-font toolbar: #878787;
}

.wrapper {
    height: 100vh;
    /* overflow: hidden; */

}

body {
    font-family: "Montserrat", sans-serif;
}

.content {
    height: calc(100vh - 90px);
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 2em;
}

h3 {
    margin: 15px auto;
}

p {
    font-weight: 200;
    color: #a3a3a3;
    margin: 20px 0px;

}




/* ************** sidebar *********** */
#sidebar {
    background-color: #000000;
    color: #a3a3a3;
    width: 200px;
    padding: 10px;
    line-height: 2;
    overflow: hidden;
    
    
    
}
/* #sidebar a, */
#sidebar .nav-side div {
    opacity: 0.7;
}

#sidebar .nav-side div:hover{
    opacity: 1;
} 
#sidebar .playlist a {
    opacity: 0.7;
}

#sidebar .playlist a:hover{
    opacity: 1;
} 


.side-start {
    height: calc(100% - 60px)
    
}

.text-nav a{
   color: #a3a3a3;
}

.playlist{
    min-height: 0px;
    background-color: black;
    margin: 5px;
}

.playlist ul{
  
    overflow-y: auto ;
    height: calc(100% - 60px)
}

.playlist i {
    font-size: 1.5em;
    color: #a3a3a3;
    
}


.playlist a{
    color: #a3a3a3;
    font-size: 1.2em;
}



.playlist li {
    font-size: 12px;

}

.list-main a {
    color: #a3a3a3;

}

h4{
    text-transform: uppercase;
}

.nav-side div{
    margin: 1px 0px 1px 0px;
   
    
}

.logo-nav{
    border-left: 4px solid transparent;
}

.logo-nav:hover {
    border-left: 4px solid #adff2f;
}

#logo {
    margin: 20px auto;
    
}

#small {
    width: 30%;
    display: none;
}

/* * nella versione mobile text-nav in display none  */
.nav-side {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    line-height: 1.5;
    overflow: hidden;
}

.logo-nav {
    width: 15%;

}


/* ************************************************* */


/* ********** parte inferiore sidebar****** */



.side-end {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    
}

.side-end a {
    color: #a3a3a3;

}

.user {
    display: flex;
    align-items: center;
}

.user h3 {
    margin: auto 10px;
}

/* *************** header *********** */

.header {
    background-color: #080b128a;
    color: #ffffff;
    height: 100px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    overflow: hidden;
    z-index: 1000;
}

.header>div a{
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 30px;
   

}
.header>div {
    transition: transform 0.7s;
    margin-right: 30px;
 }

.header div:hover {
    transform: scale(1.2);

}

/* **************** main *********** */

main {
    background-color: #141922;
    color: #ffffff;
    width: calc(100% - 200px);
    overflow-y: scroll;
    padding: 20px;
}

#nav-main{
    height: 23%;
}

main ul li {
    margin: 0px 10px;
    text-transform: uppercase;
}

main ul li a:hover{
    color: #ffffff;
}


main h2 {
    margin: 20px 0px 20px 0px;
}


main #nav-main ul a:after{
    content:'';
    display: block;
    height: 3px;
    width: 60%;
    margin: 0 auto;
    background-color: transparent;
} 


#nav-main a.active:after,
#nav-main a:hover:after{
    background-color: #adff2f;
}

.circle {
  
   
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /* ˆˆˆˆˆˆˆˆˆˆˆˆˆ make circle imgˆˆˆˆˆˆˆ */

}

.row {
    gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    width: calc(100% / 6 - 20px);/* Aggiungi una larghezza appropriata per la card */
  }
  
 .card-img {
    position: relative;
  } 
  
  .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .img-hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .img-hover i {
    font-size: 6em;
    color: #fff;
  }
  
  .card-text {
   
    background-color: #fff;
  }
  
  .card h3,
  .card p {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
  }


/* *************** toolbar *************** */

#toolbar {
    background-color: #282828;
    color: #a3a3a3;
    height: 90px;

}

/* ************* left toolbar **************/
.left-toolbar {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    

}

.left-img{
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 15px;
}


.left-toolbar p {
    margin: 0 auto;
    font-size: 0.8em;
}

.disp {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
   
}

.heart,
.folder {
    padding: 5px;
}

/************** center toolbar *************/
div.center-toolbar {
    width: calc(100% / 3 * 2);
    height: 100%;
}


.center-btn {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
#tol-center{
    display: flex;
    justify-content: space-evenly;
    width: calc(100% / 3);


}


.center-buff {
    height: 40%;
    display: flex;

}

.center-btn i{
    margin: 0px 5px;
    font-size: 2em;
    color: #ffffff;

}

.center-btn {
  
}
.center-btn div{
    transition: 0.7s;
}

.center-btn div:hover:nth-child(3){
    transform: scale(1.2);
}

/* *********** customize player ************/
#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #a3a3a3;
    width: 100%;
    height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: orangered;
    height: 10px;
    width: 10px;
    border-radius: 50%;

}

.current-time {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 0.9em;
    font-weight: 700;
}


input[type="range"]:hover{
    background-color: #09bf27;
    cursor: pointer;
}

/************* right toolbar **************/

.right-toolbar div.d-flex div {
    margin: 10px;



}

.right-toolbar div.d-flex div:last-child {
    display: flex;
    align-items: center;
}





 